* {
	box-sizing: border-box;
}
body {
	font-family: garamond;
	background-image: url('../images/realbg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 35%;
	background-attachment: fixed;

}
.boxshadow {
	border: solid 3px navy;
	text-align: center;
	background: navy;
	color: white;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 100px;
	margin-right: 100px;
}
.center {
	width: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 5px;
}
form {
	color: black;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 100px;
	margin-right: 100px;
}
.container {
	padding: 20px;
	background-color: navy;
}
.container h2 {
	color: white;
	text-align: center;
}
input[type=text], input[type=email], input[type=submit] {
	width: 100%;
	padding: 12px;
	margin: 8px;
	display: inline-block;
	border: 1px solid navy;
	box-sizing: border-box;
}
select {
	width: 100%;
	margin: 8px;
	display: inline-block;
}
input[type=checkbox] {
	margin: 8px;

}
input[type=submit] {
	background-color: darkorange;
	color: white;
	border: none;
}
input[type=submit]:hover {
	opacity: 0.8;
}



footer {
	width: 100%;
	background-color: navy;
	color: white;
	margin-top: 40px;
	padding: 10px;
	text-align: center;
	
}

i {
	padding-right: 10px;
}








