.boxshadow {
	text-align: center;
	border: solid 3px;
	box-shadow: 5px 10px;
	background-image: url('nls/flames.jpeg');
}
.textshadow {
	text-align: center;
	padding: 30px;
	text-shadow: 2px 2px darkred;
}