.jumbotron {
	text-align: center;
}
h1 {
	margin: auto;
	width: 50%;
	background-color: gray;
	padding: 20px;
}
hr {
	clear: both;
	visibility: hidden;
}

}
.col-sm-4 {
	
	text-align: center;
}
.col-sm-8 {
	padding: 10px;
}