body {
	background: black;
	color: darkred;
}
h1 {
	color: darkred;
	margin-top: 10px;
	text-align: center;
}
.header {
	text-align: center;
}
.col-4 {
	height: 600px;
	padding: 10px;
	text-align: center;
}
footer {
	margin-left: 10px;
}