* {
	box-sizing: border-box;
}
body {
	background: black;
	color: darkred;
}
h1 {
	color: darkred;
	margin-top: 10px;
	text-align: center;
}
.header {
	text-align: center;
}
.col-sm-4 {
	height: 600px;
	padding: 10px;
	text-align: center;
}

footer {
	margin-left: 10px;
}
hr {
	height: 2px;
}
.col-sm-6 {
	text-align: center;
	margin-top: 10px;
	height: 200px;
	font-size: 20px;

}