body {
	background: black;
	color: darkred;
}
h1 {
	color: darkred;
	margin-top: 10px;
	text-align: center;
}
.header {
	text-align: center;
}
.col-4 {
	border: 2px solid white;
	height: 500px;
	padding: 10px;
	text-align: center;
}