body {
	background-color: darkred;
	color: white;
}
h1 {
	border: 2px solid white;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 120px;
	margin-left: 120px;
	text-align: center;
}
.who {
	background-color: black;
	border: 2px solid black;
	border-radius: 8px;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 120px;
	margin-left: 120px;
	text-align: center;
}
h2{
	background-color: royalblue;
	border: 2px solid royalblue;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 120px;
	margin-left: 120px;
	text-align: center;
}
.course {
	background-color: darkred;
	border: 2px solid darkred;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 120px;
	margin-left: 120px;
	text-align: center;
}
.alien{
	text-align: center;
}





