body {
	background-color: indigo;
	color: white;
	font-family: arial;
}


table {
	width: 60%;
	table-layout: auto;
	margin-left: auto;
	margin-right: auto;
}

table, th, td {
	border-collapse: collapse;
	
}
td, th {
	border: 3px solid springgreen;
	padding: 8px;
	text-align: center;
}

fieldset {
	background-color: springgreen;
	border: 1px solid springgreen;
	color: indigo;
}